

<!--<div class="user-header">
<div><h3>Users</h3></div>
<div>
    <button (click)="addUser()">Add User</button>
    <button (click)="cancel()">Cancel</button>
</div>
</div>
<div class="container text-center">
    <table class="">
        <thead> 
        <tr>
             <th>userId</th>
             <th>firstName</th>
             <th>lastName</th>
             <th>email</th>
             <th>phone</th>
             <th>isActive</th>
             <th>roleId</th>
             <th>dealerId</th>
             <th>Dealer Info</th>
             <th>Role Info</th>
             <th>Edit</th>
             <th>View Responsibilities</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.isActive}}</td>
            <td>{{user.roleId}}</td>
            <td>{{user.dealerId}}</td>
            <td>
                <button (click)="enableEdit()">Edit</button>
                <button (click)="disableEdit()">Cancel</button>
            </td>
            <td>
                <button (click)="viewResponsiblities()">View Responsibilities</button>
                <button (click)="closeResponsibilities()">Close</button>
            </td>
        </tr>
        </tbody>
    </table>

</div> -->