<div class="container">
  <div class="form-container sign-in-container">
    <form>
      <h1>Sign In</h1>

      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social"><i class="fab fa-google"></i></a>
        <a href="#" class="social"><i class="fab fa-tiktok"></i></a>
      </div>

      <span>or use your account</span>

      <input type="email" placeholder="Email" [(ngModel)]="loginObj.username" />
      <input type="password" placeholder="Password" [(ngModel)]="loginObj.password" />

      <a href="#">Forgot your password?</a>

      <button type="submit" (click)="onLogin()">Sign In</button>
    </form>
  </div>
</div>